.main {
    margin: auto;
    width: 50%;
}

.grid-container {
display: flex;
}
.grid-item {
max-height: fit-content;
}

.left {
    flex: 0 0 65%;
}

.right {
    flex: 1;
}

.form {
border-style: solid;
border-color: black;
padding: 15px;
margin-bottom: 15px;
}